.container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: .875rem 1rem; 
    background-color: #18171f;
    margin-bottom: 1rem; 
}

.category {
    color: #817D92; 
    font-size: 1rem; 
}

.result-flex {
    display: flex; 
    align-items: center;
    gap: 16px; 
}

.value {
    color: #E6E5EA; 
    font-size: 1.125rem; 
}

.bar-flex {
    display: flex; 
    gap: 8px; 
}

.bar {
    height: 28px; 
    width: 10px; 
    border: 1px solid white;
}